div,p,li,ul,body,head,a,h1,h2,h3,h4,h5,h6,ol,tr,td{
	font-family: sans-serif;
	font-size: 17px;
}
@keyframes Fade-in{
    0%{ opacity:0; }
    100%{ opacity:1; }
}
.onewidth{ flex: 1; }
.twowidth{ flex: 2; }
a{
	color:#FF9900;
	text-decoration:none;
	transition: all 0.4s;
}
a:hover{
	color: #FF0000;
}
a.problemlink{
	font-size: 25px;
	color: #55bbee;
	transition: all 0.4s;
}
a.problemlink:hover{
	color: #FF0000;
}
p code{
	margin: auto 2px;
	background-color: #00000014;
	border-radius: 6px;
	padding: 1px 6px;
}

body{
	background-image: url('/static/pic/bg.jpg');
	background-attachment:fixed;
	background-position: center top;
	background-size:cover;
	margin: 0;
	animation: Fade-in 0.8s ease 0s 1;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

.ui{
	background-color: #ffffffee;
	border-radius: 2px;
}
.container{
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
}
div.filler{
	display:inline;
	background-color: #ffffff00;
}
div.topbar{
	position: fixed;
	top:0;
	height: 50px;
	z-index: 233;
	width: 100%;
	margin: 0;
}
ul.topbar{
	display: -webkit-flex;
	display: flex;
	margin-top: 0px;
	padding: 0;
	font-weight: 400;
	font-size: 20px;
	height: 50px;
	align-items: center;
}
li.topbaritem{
	list-style-type:none;
	text-align: center;
	height: 50px;
	transition: all 0.2s;
}
li.topbaritem.selected{
	background-color: #ccccccee;
}
li.topbaritem:hover{
	background-color: #dadadaee;
	cursor: pointer;
}
div.topbarword{
	padding-top:8px;
}
img.icon{
	height: 50px;
}

div.main{
	margin: calc(50px + 20px) auto 20px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	height: calc(100% - 50px);
	width: 90%;
}
div.title{
	margin: auto;
	width: 90%;
	font-size: 40px;
	text-align: center;
	letter-spacing: 2px;
}
div.contitle{
	margin: 10px auto;
	font-size: 25px;
	text-align: left;
	margin-left: 6px;
	color: #55bbee;
}
div.content{
	margin: 7px auto;
}
div.block{
	width:93%;
	margin: 20px auto;
	padding: 5px 20px;
	background-color: #e8e8e899;
	border-radius: 6px;
}

table.list{
	width: 90%;
	margin: auto;
	border: none;
}
th.list{
	text-align: left;
	font-size: 20px;
	font-weight: 300;
}
th.onecolumn{ width: 60px; font-size: 15px; }
th.onehalfcolumn{ width: 120px; }
th.twocolumn{ width: 160px; }
th.threecolumn{ width: 240px; }
th.fourcolumn{ width: 320px; }
td.list{ text-align: left; }
.list.center{ text-align: center; }

textarea.codeinput{
	width: 100%;
	height: 300px;
	opacity: 0.8;
	background-color: #33333388;
	color: #ffffff;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}
input.submit{
	opacity: 0.9;
	margin: 10px auto;
}

.judge-Accepted{ color: forestgreen; }
.judge-Wrong{ color: red; }
.judge-Time,.judge-Memory{ color: orange; }
.judge-Runtime{ color:purple; }
.judge-Waiting{ color: #888888; }
.judge-Running{ color: #66ccff; }
