div,p,li,ul,ol,tr,td,input,textarea{
	font-family: 'Fira Mono', 'Noto Sans CJK SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', monospace;
	font-size: 17px;
}
@keyframes Fade-in{
    0%{ opacity:0; }
    100%{ opacity:1; }
}
h3{
	margin: 10px auto;
}
pre{
	margin: 10px auto;
}

a{
	color:#4444ff;
	text-decoration:none;
	transition: all 0.2s;
}
a:hover{ color: #FF0000; }
a.problemlink:hover{ color: #FF0000; }
a:focus{ outline:0; }
a.uncolored{ color: inherit; }
p code{
	margin: auto 2px;
	background-color: #00000014;
	border-radius: 6px;
	padding: 1px 6px;
}

body{
	background-image: url('/static/pic/bg.jpg');
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
	margin: 0;
	animation: Fade-in 0.5s ease 0s 1;
	tab-size: 4; -moz-tab-size: 4; -o-tab-size: 4;
}

/**************** topbar ****************/
div.topbar{
	position: fixed;
	top: 0;
	height: 50px;
	z-index: 233;
	width: 100%;
	margin: 0;
}
div.topbar-container{
	display: flex;
	margin: auto;
	padding: 0;
	width: 90%;
	height: 50px;
}
span.topbaritem,span.topbaritem-noanimation{
	list-style-type:none;
	height: 50px;
	transition: all 0.2s;

	display: flex;
	justify-content: center;
	align-items: center;
}
span.topbaritem.selected{
	background-color: #ccccccee;
}
span.topbaritem:hover{
	background-color: #dadadaee;
	cursor: pointer;
}
div.topbarindex{
	font-size: 20px;
}

/**************** ui ****************/
div.ui{
	background-color: #ffffffee;
	border-radius: 2px;
}
div.container{
	margin: auto;
}
div.main{
	margin: calc(50px + 20px) auto 20px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	height: calc(100% - 50px);
	width: 90%;
}
div.title{
	margin: auto;
	width: 90%;
	font-size: 40px;
	text-align: center;
	letter-spacing: 2px;
}
div.contitle{
	margin: 10px auto;
	font-size: 25px;
	text-align: left;
	margin-left: 6px;
	color: #55bbee;
}
div.content{
	margin: 7px auto;
}
div.block{
	width:93%;
	margin: 20px auto;
	padding: 5px 20px;
	background-color: #e8e8e899;
	border-radius: 6px;
}
div.dropdown{
	background-color: #cfcfcf99;
	padding: 1px 20px 8px 20px;
	margin: 10px 10px;
	margin-bottom: 20px;
	height: auto;
}

/**************** footer ****************/
#footer{
	background: #ffffff88;
	width: 100%;
	height: 22px;
	margin-top: 30px;
	padding-top: 5px;
	font-size: 14px;
	text-align: center;
}

/**************** list ****************/
div.list{}
div.listline{
	display: flex;
	align-items: center;
	height: 40px;
	transition: all 0.2s;
}
div.listline-hover-animation:hover,div.listline-animation:hover{
	background-color: #dadada;
}
div.listline-active-animation:active,div.listline-animation:active{
	background-color: #aaa;
	transform: scale(1.02,1.02);
}
div.listline-active-animation,div.listline-animation{
	cursor: pointer;
}
span.listitem{  }
span.listitem.onewide{ width: 8%; }
span.listitem.twowide{ width: 13%; }
span.listitem.threewide{ width: 20%; }
span.listitem.fourwide{ width: 25%; }
span.listitem.fivewide{ width: 30%; }
span.listitem.center{ text-align: center; }

/**************** judge-state ****************/
.judge-0{ color: #888888; }		/* Waiting */
.judge-1{ color: #66ccff; }		/* Running */
.judge-2{ color: #aaaaaa; }		/* Unknown Error */
.judge-3{ color: #233333; }		/* Compile Error */
.judge-4{ color: #ff4499; }		/* Hacked */
.judge-5{ color: red; }			/* Wrong Answer */
.judge-6{ color: orange; }		/* Time Limit Exceed */
.judge-7{ color: orange; }		/* Memory Limit Exceed */
.judge-8{ color: purple; }		/* Runtime Error */
.judge-9{ color: forestgreen; }	/* Partical Accepted */
.judge-10{ color: #00cc00; }	/* Accepted */

/**************** tags ****************/
.tag{
	background-color: #cfcfcf;
	font-size: 15px;
	padding: 3px 8px;
	margin-right: 7px;
	border-radius: 8px;
	position: relative;
	top: 2px;
}
div.tagsblock{
	padding: 0px 20px !important;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #ffffff00 !important;
}

/**************** input ****************/
textarea.codeinput{
	width: 100%;
	height: 300px;
	opacity: 0.8;
	background-color: #33333388;
	color: #ffffff;
}
textarea.wordinput{
	background-color: #fafafa;
	width: 100%;
	height: 200px;
	border:0px;
	font-size: 19px;
}
/* input.submit{
	opacity: 0.9;
	margin: 10px auto;
} */
input.titleinput{
	margin-left: 10px;
	width:230px;
}
input.numberinput{
	margin: 5px 10px;
	width: 100px;
}
button.submitbutton{
	width: 200px;
	font-size: 19px;
	margin-left: calc(50% - 100px);
	margin-top: 10px;
	font-weight: 500;
	letter-spacing: 1px;
}
button.button-action:hover{
	background-color: #ffffff00;
	color: #A5DE37;
	border-style: dashed;
	border-width: 1px;
	border-color: #A5DE37;
}
button.button-primary:hover{
	background-color: #ffffff00;
	color: #4cb0f9;
	border-style: dashed;
	border-width: 1px;
	border-color: #4cb0f9;
}
