<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title> intOJ | 帮助 </title>
	<link rel="icon" type="img/x-ico"  href="/static/pic/xicon.png" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<script src="/static/resize.js"> </script>
	<script src="/static/render.js"> </script>

	<link rel="stylesheet" href="/static/modules/font-awesome/css/font-awesome.min.css" />

	<script src="/static/modules/marked/marked.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/modules/highlight/styles/default.css" />
	<script src="/static/modules/highlight/highlight.pack.js"> </script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script type="text/javascript" async src="/static/modules/Mathjax/MathJax.js?config=default"></script>
	<link rel="dns-prefetch" href="//cdn.mathjax.org" />
</head>
<body onresize="Resize()" onload="Resize();Render();">
	<div class="ui topbar">
		<ul class="ui topbar container">
			<a href="/"><li class="ui topbar topbaritem onewidth unselected"> <img class="icon intoj" src="/static/pic/icon1.png" /> </li> </a>
			<li class="ui topbar topbaritem onewidth unselected"> <div class="topbarword"> <i class="fa fa-home" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 首页 </div> </div> </li>
			<li class="ui topbar topbaritem onewidth unselected"> <div class="topbarword"> <i class="fa fa-list" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 题目 </div> </div> </li>
			<li class="ui topbar topbaritem onewidth unselected"> <div class="topbarword"> <i class="fa fa-server" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 评测 </div> </div> </li>
			<li class="ui topbar topbaritem onewidth selected"> <div class="topbarword"> <i class="fa fa-question-circle-o" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 帮助 </div> </div> </li>
		</ul>
	</div>
	<div class="container">
		<div class="ui main">
			<div class="title">帮助</div>
			<div class="contitle">什么是 intOJ</div>
			<div class="content markdown">
- interger Online Judge!

- interesting Online Judge!

- interval Online Judge!

~~我也不知道~~
			</div>
			<div class="contitle">能干什么</div>
			<div class="content markdown">
- 没有
			</div>
			<div class="contitle">有什么特色</div>
			<div class="content markdown">
- 没有
			</div>
			<div class="contitle">判题参数</div>
			<div class="content markdown">
- 待定
			</div>
			<div class="contitle">制作人员</div>
			<div class="content markdown">
interestingLSY
			</div>
		</div>
	</div>
</body>
</html>

<!--
# 一级标题

## 二级标题

### 三级标题

- 青蛙

- 眼睛

- 知识水平

[Luogu](http://www.luogu.org/)

![Luogu](http://cdnv2.luogu.org/upload/pic/2269.png)

**我非常的粗！**

22333 `inline code` 2333

<pre><code>
#include &lt;iostream&gt;
using namespace std;
int main(){
	int a,b;
	cin >> a >> b;
	cout << a+b << endl;
	return 0;
}
</code></pre>

$\Huge{ans=\Sigma_{1}^{n}{-\frac{b+\sqrt{\color{Red}{b^2-4ac}}}{2\cdot a}}}$
-->
