<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title> intOJ | 评测状态 </title>
	<link rel="icon" type="img/x-ico"  href="/static/pic/xicon.png" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<script src="/static/resize.js"> </script>
	<script src="/static/render.js"> </script>

	<link rel="stylesheet" href="/static/modules/font-awesome/css/font-awesome.min.css" />

	<script src="/static/modules/marked/marked.min.js"></script>
	<link rel="stylesheet" href="/static/modules/highlight/atom-one-light.min.css">
	<script src="/static/modules/highlight/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script type="text/javascript" async src="/static/modules/Mathjax/MathJax.js?config=default"></script>
	<link rel="dns-prefetch" href="//cdn.mathjax.org" />

	<script src="/static/modules/jquery/jquery.js"> </script>

	<script src="/static/markedinit.js"> </script>
</head>
<body onresize="Resize()" onload="Render();">
	<div class="ui topbar">
		<ul class="ui topbar container">
			<a href="/"> <li class="ui topbar topbaritem onewidth unselected"> <img class="icon intoj" src="/static/pic/icon1.png" /> </li> </a>
			<li class="ui topbar topbaritem onewidth unselected" onclick="window.location.href='/'"> <div class="topbarword"> <i class="fa fa-home" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 首页 </div> </div> </li>
			<li class="ui topbar topbaritem onewidth unselected" onclick="window.location.href='/problemlist'"> <div class="topbarword"> <i class="fa fa-list" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 题目 </div> </div> </li>
			<li class="ui topbar topbaritem onewidth selected" onclick="window.location.href='/status'"> <div class="topbarword"> <i class="fa fa-server" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 评测 </div> </div> </li>
			<li class="ui topbar topbaritem onewidth unselected" onclick="window.location.href='/help'"> <div class="topbarword"> <i class="fa fa-question-circle-o" aria-hidden="true"></i> <div class="ui filler topbarfiller"> 帮助 </div> </div> </li>
		</ul>
	</div>
	<div class="container">
		<div class="ui main">
			<div class="block">
				<div class="contitle"> 实时评测记录 </div>
				<div class="content">
					<table class="list">
						<tr class="list">
							<th class="onecolumn list"> 编号 </th>
							<th class="list"> 题目 </th>
						</tr>
						{% for urecord in recordlist %}
						<tr class="list">
							<td class="list"> <a href="/record/{{ urecord[0] }}"> R{{ urecord[0] }} </a> </td>
							<td class="list"> <a href="/problem/{{ urecord[1] }}"> P{{ urecord[1] }} </a> </td>
						</tr>
						{% endfor %}
					</table>
				</div>
		</div>
	</div>
	<script> Resize(); </script>
</body>
</html>
