{% extends 'base.html' %}
{% block title %} 关于 - intOJ {% endblock %}
{% block body %}
<div class="container">
	<div class="ui main">
		<div class="title">关于</div>
		<div class="block">
			<div class="contitle">关于这个OnlineJudge</div>
			<div class="content markdown">
当前OJ版本为`1.0 alpha`. ~~很辣鸡~~

本OJ为开源项目,你可以[在github上找到它](https://github.com/interestingLSY/intOJ).现在她还在~~GuGuGu~~不断更新并处于活跃的开发中,欢迎联系 interestingLSY 并加入开发组.

为了 报告bug/提出idea/获取帮助/加入到开发者的行列中等等, 您可以通过以下方式与开发者和用户们交♂流:

- 加入 intOJ 用户群 (群号:我还没建群...)

- 在 github 页面上发起 push request 或 issue

- 加一下 interestingLSY (~~或其他开发组人员~~暂时没有) 的qq

如需要帮助, 可以参考 [帮助 - intOJ](/help). 如果仍未解决, 欢迎通过上述方式提出问题.
			</div>
		</div>
		<div class="block">
			<div class="contitle">关于这个OnlineJudge的精神</div>
			<div class="content markdown">
<del>咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕咕</del>

intOJ将励志成为一个设计人性化的, 轻量级的, 能为用户带来良好体验的onlinejudge系统.

intOJ在未来将永久免费使用, 永远不会有 `Please Contact intLSY@xxx.com` 这种东西. ~~(我这个flag就立在这了)~~ .

如果您想投食, 可以看"关于这只作者"一部分的内容. 但请放心, 即使您不投食, 您在intOJ的各项权益也不会受到任何损害.

![](/static/pic/真香.gif)

↑ 该图由 [sorry！动图制作](https://sorry.xuty.tk) 完成.

qwq.
			</div>
		</div>
		<div class="block">
			<div class="contitle">关于这只作者</div>
			<div class="content markdown">
目前 intOJ 由 interestingLSY 一人开发. 他的qq是 2659723130.

如果想投食的话, 请扫描 [这个二维码](/static/pic/throwfood.png). 感谢老爷!
			</div>
		</div>
		<div class="block">
			<div class="contitle">这里,广告位招租</div>
			<div class="content markdown">
			</div>
		</div>
	</div>
</div>
{% endblock %}
