<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - intoj</title>
	<link rel="icon" type="img/x-ico"  href="/static/pic/xicon.png" />
	<script src="/static/modules/jquery/jquery.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/input.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/list.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/ui.css" />

	<link rel="stylesheet" href="/static/modules/highlight/styles/atom-one-light.css">
	<script src="/static/modules/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script type="text/javascript" async src="/static/modules/Mathjax/MathJax.js?config=default"></script>
	<link rel="dns-prefetch" href="//cdn.mathjax.org" />

	<script src="/static/modules/marked/marked.min.js"></script>
	<script src="/static/markedinit.js"> </script>

	<link rel="stylesheet" href="/static/modules/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/static/modules/buttons/buttons.css" />
	<script src="/static/modules/buttons/buttons.js"></script>

	<link rel="stylesheet" href="/static/modules/codemirror/lib/codemirror.css"/>
	<script src="/static/modules/codemirror/lib/codemirror.js"></script>
	<!-- lang -->
	<script src="/static/modules/codemirror/mode/clike/clike.js"></script>
	<script src="/static/modules/codemirror/mode/python/python.js"></script>
	<script src="/static/modules/codemirror/mode/markdown/markdown.js"></script>
	<!-- fold and bracket -->
	<link rel="stylesheet" href="/static/modules/codemirror/addon/fold/foldgutter.css"/>
	<script src="/static/modules/codemirror/addon/fold/foldcode.js"></script>
	<script src="/static/modules/codemirror/addon/fold/foldgutter.js"></script>
	<script src="/static/modules/codemirror/addon/fold/brace-fold.js"></script>
	<script src="/static/modules/codemirror/addon/fold/comment-fold.js"></script>
	<script src="/static/modules/codemirror/addon/edit/matchbrackets.js"></script>
	<!-- theme -->
	<link rel="stylesheet" href="/static/modules/codemirror/theme/solarized.css"/>

	<script src="/static/modules/messager/build/js/messenger.js"></script>
	<link rel="stylesheet" href="/static/modules/messager/build/css/messenger.css"/>
	<link rel="stylesheet" href="/static/modules/messager/build/css/messenger-theme-air.css"/>
	<link rel="stylesheet" href="/static/modules/messager/build/css/messenger-theme-flat.css"/>

	<script src="/static/resize.js"> </script>
	<script src="/static/render.js"> </script>
	<script src="/static/expand.js"> </script>
	<script src="/static/cannotselect.js"> </script>
	<script src="/static/codeinput.js"> </script>
	<script src="/static/messager.js"> </script>
	<script src="/static/record_ajax.js"> </script>
</head>
<body onresize="Resize();" onload="Render();Resize();Cannotselect();">
	<script> Messagerinit(); </script>
	<div class="ui topbar">
		<div class="topbar-container" style="margin: 0px auto;">
			<a href="/"> <span class="topbaritem"> <img src="/static/pic/icon1.png" style="height: 50px;"/> </span> </a>
			<span class="topbaritem onewidth {% block selected_home %}{% endblock %}" onclick="window.location.href='/'" style="flex: 2;">
				<div class="topbarindex"> <i class="icon-home" aria-hidden="true"></i>
					<span class="topbarword"> 首页 </span>
				</div>
			</span>
			<span class="topbaritem onewidth {% block selected_problem %}{% endblock %}" onclick="window.location.href='/problemlist'" style="flex: 2;">
				<div class="topbarindex"> <i class="icon-list" aria-hidden="true"></i>
					<span class="topbarword"> 题目 </span>
				</div>
			</span>
			<span class="topbaritem onewidth {% block selected_status %}{% endblock %}" onclick="window.location.href='/status'" style="flex: 2;">
				<div class="topbarindex"> <i class="icon-tasks" aria-hidden="true"></i>
					<span class="topbarword"> 评测 </span>
				</div>
			</span>
			<span class="topbaritem onewidth {% block selected_help %}{% endblock %}" onclick="window.location.href='/help'" style="flex: 2;">
				<div class="topbarindex"> <i class="icon-question-sign" aria-hidden="true"></i>
					<span class="topbarword"> 帮助 </span>
				</div>
			</span>
			<span class="topbaritem-noanimation onewidth" style="flex: 2;">
			</span>
			{% if Is_Loggedin() %}
			<span class="topbaritem" style="width:auto">
				<span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
					<button class="button button-large button-nobg" style="padding: 0px 10px; width:200px;">
						{{- request.cookies['username'] -}} &nbsp; <i class="icon-caret-down"> </i>
					</button>
				  	<div class="button-dropdown-list is-below list" style="background-color: #eeeeee;">
						<a class="uncolored" href="/user/{{request.cookies['username']}}">
						<div class="listline listline-animation" style="display:flex; align-items:center; justify-content: flex-start;">
								&nbsp; <i class="icon-home"></i> &nbsp;个人中心
						</div>
						<a class="uncolored" href="/user/{{request.cookies['username']}}/edit">
						<div class="listline listline-animation" style="display:flex; align-items:center; justify-content: flex-start;">
								&nbsp; <i class="icon-edit"></i> &nbsp;编辑资料
						</div>
						</a>
						<a class="uncolored" href="/logout">
						<div class="listline listline-animation" style="display:flex; align-items:center; justify-content: flex-start;">
								&nbsp; <i class="icon-off"></i> &nbsp;注销
						</div>
						</a>
				  	</div>
				</span>
			</span>
			{% else %}
			<span class="topbaritem-noanimation onewidth" style="width:80px; flex-grow:0">
				<button class="button button-small button-primary button-rounded button-border" style="border-width:1px; width: 70px; padding: 0px 10px; font-size: 16px;" onclick="window.location.href='/login'">
					登录
				</button>
			</span>
			<span class="topbaritem-noanimation onewidth" style="width:80px; flex-grow:0">
				<button class="button button-small button-highlight button-rounded button-border" style="border-width:1px; width: 70px; padding: 0px 10px; font-size: 16px;" onclick="window.location.href='/register'">
					注册
				</button>
			</span>
			{% endif %}
		</div>
	</div>
	{% for ok in get_flashed_messages(category_filter=["ok"]) %}
		<script> Message_Ok('{{ok}}') </script>
	{% endfor %}
	{% for error in get_flashed_messages(category_filter=["error"]) %}
		<script> Message_Error('{{error}}') </script>
	{% endfor %}
	<div class="container">
		{% block body %}
		{% endblock %}
	</div>
	<script> Codeinput(); </script>
</body>
</html>
