<link href="/static/modules/fonts.googleapis.com/Lato.css" rel="stylesheet" type="text/css">
<link href="/static/modules/fonts.googleapis.com/Consolas.css" rel="stylesheet" type="text/css">

<link rel="icon" type="img/x-ico"  href="/static/pic/xicon.png" />
<script src="/static/modules/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/input.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/list.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ui.css" />

<link rel="stylesheet" href="/static/modules/highlight/styles/atom-one-light.css">
<script src="/static/modules/highlight/highlight.pack.js"> </script>
<script>hljs.initHighlightingOnLoad();</script>

<link rel="stylesheet" href="/static/modules/katex/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous" />
<script defer src="/static/modules/katex/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"> </script>
<script defer src="/static/modules/katex/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
	onload="renderMathInElement(document.body,{delimiters: [{left: '$$', right: '$$', display: true},{left: '$', right: '$', display: false}]})"> </script>


<script src="/static/modules/marked/marked.min.js"></script>
<script src="/static/markedinit.js"> </script>

<link rel="stylesheet" href="/static/modules/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/modules/buttons/buttons.css" />
<script src="/static/modules/buttons/buttons.js"></script>

<link rel="stylesheet" href="/static/modules/codemirror/lib/codemirror.css"/>
<script src="/static/modules/codemirror/lib/codemirror.js"></script>
<!-- lang -->
<script src="/static/modules/codemirror/mode/clike/clike.js"></script>
<script src="/static/modules/codemirror/mode/python/python.js"></script>
<script src="/static/modules/codemirror/mode/markdown/markdown.js"></script>
<!-- fold and bracket -->
<link rel="stylesheet" href="/static/modules/codemirror/addon/fold/foldgutter.css"/>
<script src="/static/modules/codemirror/addon/fold/foldcode.js"> </script>
<script src="/static/modules/codemirror/addon/fold/foldgutter.js"> </script>
<script src="/static/modules/codemirror/addon/fold/brace-fold.js"> </script>
<script src="/static/modules/codemirror/addon/fold/comment-fold.js"> </script>
<script src="/static/modules/codemirror/addon/edit/matchbrackets.js"> </script>
<!-- theme -->
<link rel="stylesheet" href="/static/modules/codemirror/theme/solarized.css"/>

<script src="/static/modules/messager/build/js/messenger.min.js"></script>
<link rel="stylesheet" href="/static/modules/messager/build/css/messenger.css"/>
<link rel="stylesheet" href="/static/modules/messager/build/css/messenger-theme-air.css"/>
<link rel="stylesheet" href="/static/modules/messager/build/css/messenger-theme-flat.css"/>

<link href="/static/modules/icheck/square-blue.css" rel="stylesheet">
<script src="/static/modules/icheck/icheck.min.js"> </script>

<link href="/static/modules/select/select.css" rel="stylesheet">
<script src="/static/modules/select/select.js"></script>

<script src="/static/modules/chart/chart_bundle.js"></script>

<script src="/static/modules.js"> </script>
<script src="/static/inner_modules.js"> </script>
<script src="/static/record_ajax.js"> </script>
