<!DOCTYPE HTML>

{% macro Pager(other_args,current_page,total_page) %}
<div class="button-group">
	<a class="button button-rounded button-square button-grey" href="?page=1&{{args}}"> <i class="icon-double-angle-left"> </i> </a>
	<a class="button button-rounded button-square button-grey" href="?page={{max(1,current_page-1)}}&{{args}}"> <i class="icon-angle-left"> </i> </a>
	{% set l = max(current_page-2,1) %}
	{% set r = min(current_page+2,total_page) %}
	{% if l != 1 %}
		<a class="button button-rounded button-square button-grey" href="?page=1&{{args}}"> 1 </a>
		{% if l != 2 %} <a class="button button-rounded button-square button-grey"> . . . </a> {% endif %}
	{% endif %}
	{% for page in range(l,r+1) %}
		<a class="button button-rounded button-square button-grey" href="?page={{page}}&{{args}}" {% if page==current_page %} style="background-color: #ddd" {% endif %}> {{page}} </a>
	{% endfor %}
	{% if r != total_page %}
		{% if r != total_page-1 %} <a class="button button-rounded button-square button-grey"> . . . </a> {% endif %}
		<a class="button button-rounded button-square button-grey" href="?page={{total_page}}&{{args}}"> {{total_page}} </a>
	{% endif %}
	<a class="button button-rounded button-square button-grey" href="?page={{min(total_page,current_page+1)}}&{{args}}"> <i class="icon-angle-right"> </i> </a>
	<a class="button button-rounded button-square button-grey" href="?page={{total_page}}&{{args}}"> <i class="icon-double-angle-right"> </i> </a>
</div>
{% endmacro %}

{% macro Judge_Status(status) %}
<span class="judge-{{status}} judge-status-dynamic" long_or_short="long">
	<i class="icon-{{statusicon[status]}}" aria-hidden="true"></i>  {{tostatus[status]}}
</span>
{% endmacro %}
{% macro Judge_Status_Short(status) %}
<span class="judge-{{status}}">
	<i class="icon-{{statusicon[status]}}" aria-hidden="true"></i>  {{shortstatus[status]}}
</span>
{% endmacro %}

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - intoj</title>
	{% include "base_online.html" %}
</head>
<body onresize="Resize();" onload="Render();Resize();Cannotselect();Icheck_Init();Wrap()">
	<script> Messagerinit(); </script>
	<div class="ui topbar">
		<div class="topbar-container" style="margin: 0px auto;">
			<a href="/"> <span class="topbaritem"> <img src="/static/pic/icon1.png" style="height: 50px;"> </img> </span> </a>
			<a href="/" style="flex: 2;" class="uncolored">
				<span class="topbaritem onewidth unselect {% block selected_home %}{% endblock %}">
					<div class="topbarindex"> <i class="icon-home" aria-hidden="true"></i>
						<span class="topbarword"> 首页 </span>
					</div>
				</span>
			</a>
			<a href="/problemlist" style="flex: 2;" class="uncolored">
				<span class="topbaritem onewidth unselect {% block selected_problem %}{% endblock %}">
					<div class="topbarindex"> <i class="icon-list" aria-hidden="true"></i>
						<span class="topbarword"> 题目 </span>
					</div>
				</span>
			</a>
			<a href="/contestlist" style="flex: 2;" class="uncolored">
				<span class="topbaritem onewidth unselect {% block selected_contest %}{% endblock %}">
					<div class="topbarindex"> <i class="icon-fire" aria-hidden="true"></i>
						<span class="topbarword"> 比赛 </span>
					</div>
				</span>
			</a>
			<a href="/status" style="flex: 2;" class="uncolored">
				<span class="topbaritem onewidth unselect {% block selected_status %}{% endblock %}">
					<div class="topbarindex"> <i class="icon-tasks" aria-hidden="true"></i>
						<span class="topbarword"> 评测 </span>
					</div>
				</span>
			</a>
			<a href="/help" style="flex: 2;" class="uncolored">
				<span class="topbaritem onewidth unselect {% block selected_help %}{% endblock %}">
					<div class="topbarindex"> <i class="icon-question-sign" aria-hidden="true"></i>
						<span class="topbarword"> 帮助 </span>
					</div>
				</span>
			</a>
			<span class="topbaritem-noanimation onewidth" style="flex: 2;">
			</span>
			{% if Is_Loggedin() %}
			<span class="topbaritem unselect" style="width:auto">
				<span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
					<button class="button button-large button-nobg" style="padding: 0px 10px; width:200px;">
						{{- request.cookies['username'] -}} &nbsp; <i class="icon-caret-down"> </i>
					</button>
				  	<div class="button-dropdown-list is-below list" style="background-color: #eeeeee;">
						<a class="uncolored" href="/user/{{request.cookies['username']}}">
						<div class="listline listline-animation" style="display:flex; align-items:center; justify-content: flex-start;">
								&nbsp; &nbsp; &nbsp; <i class="icon-home"></i> &nbsp; &nbsp; 个人中心
						</div>
						</a>
						<a class="uncolored" href="/user/{{request.cookies['username']}}/edit">
						<div class="listline listline-animation" style="display:flex; align-items:center; justify-content: flex-start;">
								&nbsp; &nbsp; &nbsp; <i class="icon-edit"></i> &nbsp; &nbsp; 编辑资料
						</div>
						</a>
						<a class="uncolored" href="/logout">
						<div class="listline listline-animation" style="display:flex; align-items:center; justify-content: flex-start;">
								&nbsp; &nbsp; &nbsp; <i class="icon-off"></i> &nbsp; &nbsp; 注销
						</div>
						</a>
				  	</div>
				</span>
			</span>
			{% else %}
			<span class="topbaritem-noanimation onewidth" style="width:80px; flex-grow:0">
				<a href="/login?url={{request.url}}" class="uncolored">
					<button class="button button-small button-primary button-rounded" style="width: 70px; padding: 0px 10px;">
						登录
					</button>
				</a>
			</span>
			<span class="topbaritem-noanimation onewidth" style="width:80px; flex-grow:0">
				<a href="/register" class="uncolored">
					<button class="button button-small button-highlight button-rounded" style="width: 70px; padding: 0px 10px;">
						注册
					</button>
				</a>
			</span>
			{% endif %}
		</div>
	</div>
	{% for ok in get_flashed_messages(category_filter=["ok"]) %}
		<script> Message_Ok('{{ok}}') </script>
	{% endfor %}
	{% for error in get_flashed_messages(category_filter=["error"]) %}
		<script> Message_Error('{{error}}') </script>
	{% endfor %}
	<div class="container">
		{% block body %}
		{% endblock %}
	</div>
	<script> Codeinput(); </script>
	<script>
		{% if Is_Loggedin() %}
			{% set background_url = Read_User_Byname(request.cookies['username'])[8] %}
			{% if background_url not in [None,''] %}
			{% if background_url[0] == '#' %}
				$("body").css('background-color','{{background_url}}')
				$("body").css('background-image','initial')
			{% else %}
				var img = new Image();
				img.src = '{{background_url}}'
				img.onload = function(){
					$("body").css('background-image','url("{{background_url}}")')
				}
			{% endif %}
			{% endif %}
		{% endif %}
	</script>
</body>
</html>
