{% extends 'base.html' %}
{% block title %} 比赛列表 {% endblock %}
{% block selected_contest %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle">
			比赛列表
			<a href="/contestadd"><button class="button button-primary button-small button-rounded" style="float:right; margin-top:3px; font-size: 14px;">
				<i class="icon-plus"></i> 添加比赛
			</button></a>
		</div>
	</div>
	<div class="block">
		<div class="content">
			<div class="list">
				<div class="listline">
					<span class="listitem onewide center smallfont"> 编号 </span>
					<span class="listitem fivewide center smallfont"> 比赛名称 </span>
					<span class="listitem fivewide center smallfont"> 描述 </span>
					<span class="listitem threewide center smallfont"> 开始时间 </span>
					<span class="listitem threewide center smallfont"> 结束时间 </span>
				</div>
				{% for contest in contestlist %}
				<div class="listline listline-animation" onclick="window.location.href='/contest/{{contest[0]}}'">
					<span class="listitem onewide center"> #{{contest[0]}} </span>
					<span class="listitem fivewide center"> <a href="/problem/{{contest[0]}}"> {{contest[1]}} </a> </span>
					<span class="listitem fivewide center"> {{contest[2]}} </span>
					<span class="listitem threewide center"> {{contest[3]}} </span>
					<span class="listitem threewide center"> {{contest[4]}} </span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
