{% extends 'base.html' %}
{% block title %} {{problem['title']}} {% endblock %}
{% block selected_contest %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block-mini-box">
		<a href="/contest/{{contest['id']}}" class="uncolored" style="width: 69%;">
			<div class="block-mini">
				<!-- <div class="block-mini-inner"> -->
					<div class="contitle" style="text-align: center"> {{contest['title']}} </div>
					<div style="font-size: 14px; text-align: center"> 点击返回比赛主页 </div>
				<!-- </div> -->
			</div>
		</a>
		<div class="block-mini" style="width: 27%;">
			<!-- <div class="block-mini-inner"> -->
				<div class="content"> 开始于 {{contest['begin_time']}} </div>
				<div class="content"> 结束于 {{contest['end_time']}} </div>
			<!-- </div> -->
		</div>
	</div>
	<div class="title" style="margin: 20px auto;"> {{problem['title']}} </div>
	<div class="block tagsblock">
		<div class="button-group">
			<div class="button-group">
				<a href="#submit_code" class="button button-primary button-rounded button-small" style="font-weight: 500;"> 提交 </a>
				<a href="/contest/{{contest['id']}}/submissions/my?problem_id={{problem['id']}}" class="button button-primary button-rounded button-action button-small" style="font-weight: 500;"> 我的提交 </a>
				<a href="/contest/{{contest['id']}}/submissions?problem_id={{problem['id']}}" class="button button-primary button-rounded button-action button-small" style="font-weight: 500;"> 所有提交 </a>
				<a href="/problem/{{problem['id']}}" class="button button-primary button-rounded button-primary button-small" style="font-weight: 500;"> 到题库去 </a>
			</div>
		</div>
		<div style="float: right">
			<span class="content tag tag-timelimit">时间限制:{{- problem['time_limit'] -}}ms</span>
			<span class="content tag tag-memorylimit">空间限制:{{- problem['memory_limit'] -}}M</span>
		</div>
	</div>
	{% if problem['description'] != '' %}
	<div class="block" style="margin-top: 10px;">
		<div class="contitle"> 题目描述 </div>
		<div class="content markdown">
			{{- problem['description'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['input_format'] != '' %}
	<div class="block">
		<div class="contitle"> 输入格式 </div>
		<div class="content markdown">
			{{- problem['input_format'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['output_format'] != '' %}
	<div class="block">
		<div class="contitle"> 输出格式 </div>
		<div class="content markdown">
			{{- problem['output_format'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['example'] != '' %}
	<div class="block">
		<div class="contitle"> 样例 </div>
		<div class="content markdown">
			{{- problem['example'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['limit_and_hint'] != '' %}
	<div class="block">
		<div class="contitle"> 提示与说明 </div>
		<div class="content markdown">
			{{- problem['limit_and_hint'] -}}
		</div>
	</div>
	{% endif %}
	<div class="block" id="submit_code">
		<div class="contitle"> 提交代码 </div>
		<div class="content">
			<form method="POST">
				<textarea class="codeinput" name="code"></textarea>
				<button type="submit" class="button button-action button-rounded submitbutton">
					<i class="icon-pencil icon-spin"></i> 提交!
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
