{% extends 'base.html' %}
{% block title %} {{problem[1]}} {% endblock %}
{% block selected_contest %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block-mini-box">
		<a href="/contest/{{contest[0]}}" class="uncolored" style="width: 69%;">
			<div class="block-mini">
				<div class="contitle" style="text-align: center"> {{contest[1]}} </div>
				<div style="font-size: 14px; text-align: center"> 点击返回比赛主页 </div>
			</div>
		</a>
		<div class="block-mini" style="width: 25%;">
			<div class="content"> 开始于 {{contest[3]}} </div>
			<div class="content"> 结束于 {{contest[4]}} </div>
		</div>
	</div>
	<div class="title"> {{problem[1]}}</div>
	<div class="block tagsblock">
		<div class="button-group">
			<div class="button-group">
				<a href="#submit_code"> <button class="button button-primary button-rounded button-small" style="font-weight: 500;"> 提交 </button> </a>
				<a href="/contest/{{contest[0]}}/submissions/my?problem_id={{problem[0]}}"> <button class="button button-primary button-rounded button-action button-small" style="font-weight: 500;"> 我的提交 </button> </a>
				<a href="/contest/{{contest[0]}}/submissions?problem_id={{problem[0]}}"> <button class="button button-primary button-rounded button-action button-small" style="font-weight: 500;"> 所有提交 </button> </a>
				<a href="/problem/{{problem[0]}}"> <button class="button button-primary button-rounded button-primary button-small" style="font-weight: 500;"> 到题库去 </button> </a>
			</div>
		</div>
		<div style="float: right">
			<span class="content tag tag-timelimit">时间限制:{{- problem[7] -}}ms</span>
			<span class="content tag tag-memorylimit">空间限制:{{- problem[8] -}}M</span>
		</div>
	</div>
	{% if problem[2] != '' %}
	<div class="block" style="margin-top: 10px;">
		<div class="contitle"> 题目描述 </div>
		<div class="content markdown">
			{{- problem[2] -}}
		</div>
	</div>
	{% endif %}
	{% if problem[3] != '' %}
	<div class="block">
		<div class="contitle"> 输入格式 </div>
		<div class="content markdown">
			{{- problem[3] -}}
		</div>
	</div>
	{% endif %}
	{% if problem[4] != '' %}
	<div class="block">
		<div class="contitle"> 输出格式 </div>
		<div class="content markdown">
			{{- problem[4] -}}
		</div>
	</div>
	{% endif %}
	{% if problem[5] != '' %}
	<div class="block">
		<div class="contitle"> 样例 </div>
		<div class="content markdown">
			{{- problem[5] -}}
		</div>
	</div>
	{% endif %}
	{% if problem[6] != '' %}
	<div class="block">
		<div class="contitle"> 提示与说明 </div>
		<div class="content markdown">
			{{- problem[6] -}}
		</div>
	</div>
	{% endif %}
	<div class="block" id="submit_code">
		<div class="contitle"> 提交代码 </div>
		<div class="content">
			<form method="POST">
				<textarea class="codeinput" name="code"></textarea>
				<button type="submit" class="button button-action button-rounded submitbutton">
					<i class="icon-pencil icon-spin"></i> 提交!
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
