{% extends 'base.html' %}
{% block title %} 比赛列表 {% endblock %}
{% block selected_contest %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle">
			比赛列表
			{% if Current_User_Privilege(3) %}
			<a href="/contestadd"><button class="button button-primary button-small button-rounded" style="float:right; margin-top:3px; font-size: 14px;">
				<i class="icon-plus"></i> 添加比赛
			</button></a>
			{% endif %}
		</div>
	</div>
	<div class="block">
		<div class="content">
			<div class="list">
				<div class="listline">
					<span class="listitem halfwide center"> 编号 </span>
					<span class="listitem fourwide center"> 比赛名称 </span>
					<span class="listitem sixwide center"> 描述 </span>
					<span class="listitem threewide center"> 开始时间 </span>
					<span class="listitem threewide center"> 结束时间 </span>
				</div>
				{% for contest in contestlist %}
				<a href="/contest/{{contest[0]}}">
					<div class="listline listline-animation">
						<span class="listitem halfwide center" style="color: initial"> #{{contest[0]}} </span>
						<span class="listitem fourwide center"> {{contest[1]}} </span>
						<span class="listitem sixwide center" style="color: initial"> {{contest[2]}} </span>
						<span class="listitem threewide center smallfont" style="color: initial"> {{contest[3]}} </span>
						<span class="listitem threewide center smallfont" style="color: initial"> {{contest[4]}} </span>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
