{% extends 'base.html' %}
{% block title %} {{contest['title']}} {% endblock %}
{% block selected_contest %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block-mini-box">
		<div class="block-mini" style="width: 70%;">
			<div class="block-mini-inner">
				{% if contest['subtitle'] != '' %}
				<div class="contitle" style="text-align: center" style="font-size: 34px;"> {{contest['title']}} </div>
				<div class="content" style="text-align: center"> ——{{contest['subtitle']}} </div>
				{% else %}
				<div class="contitle" style="text-align: center; font-size: 34px; width: 100%; margin-top: 17px;"> {{contest['title']}} </div>
				{% endif %}
			</div>
		</div>
		<div class="block-mini" style="width: 29%;">
			<div class="block-mini-inner" style="display:flex; justify-content: center; flex-direction: column;">
				<div class="content"> 开始于 {{contest['begin_time']}} </div>
				<div class="content"> 结束于 {{contest['end_time']}} </div>
			</div>
		</div>
	</div>
	<div class="block-mini-box">
		<div class="block-mini" style="width: 34%;">
			<div class="block-mini-inner" style="padding: 15px 0px; width: 100%; display: flex; flex-direction: column; justify-content: center;">
				{% for problem in problems %}
				<a href="/contest/{{contest['id']}}/problem/{{problem['id']}}" class="uncolored">
					<div class="listline listline-animation" style="width: 100%; justify-content: center; margin: 5px auto;">
						<span class="listitem center" style="width: 20%"> #{{loop.index}} </span>
						<span class="listitem center" style="width: 60%"> <span class="dynamicsize"> {{problem['title']}} </span> </span>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="block-mini" style="width: 65%">
			<div class="block-mini-inner" style="height: auto">
				<div class="contitle"> 比赛描述 </div>
				<div class="content markdown">
{{contest['description']}}

*本场比赛采用 {{rule_name}} 赛制.*
				</div>
			</div>
		</div>
	</div>
	<div class="block-mini-box">
		<div class="button-group">
			<a href="/contest/{{contest['id']}}/submissions/my" class="button button-primary button-rounded" > 我的提交 </a>
			<a href="/contest/{{contest['id']}}/submissions" class="button button-primary button-rounded"> 所有提交 </a>
			<a href="/contest/{{contest['id']}}/ranklist" class="button button-action button-rounded"> 排行榜 </a>
			<a href="/contest/{{contest['id']}}/statistic" class="button button-highlight button-rounded"> 统计 </a>
		</div>
	</div>
</div>
{% endblock %}
