{% extends 'base.html' %}
{% if my %} {% set name="我的" %} {% else %} {% set name="所有" %} {% endif %}
{% block title %} {{name}}提交 - {{contest[1]}} {% endblock %}
{% block selected_contest %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle"> {{name}}提交 - {{contest[1]}} <button class="button button-rounded button-primary button-small" style="font-size: 15px; float: right;" onclick="history.go(-1)"> 返回 </button> </div>
		<div class="content">
			<form method="GET">
				<div class="listline" style="justify-content: space-around">
					<span class="listitem center">
						题目id: <input class="input-short" type="text" name="problem_id" value="{% if 'problem_id' in request.args %}{{request.args.get('problem_id')}}{% endif %}"> </input>
					</span>
					<span class="listitem center">
						提交者: <input class="input-medium" type="text" name="username" value="{% if 'username' in request.args %}{{request.args.get('username')}}{% endif %}"> </input>
					</span>
					<span class="listitem center" style="align-self: flex-start;">
						<div style="margin-top: 5px" class="select-outer-wrapper">
							状态: &nbsp;
							<div class="select-wrapper" onclick="Click(1)" style="width: 220px;">
								{% set init_status = request.args.get('status')|int(-1) %}
								<input type="hidden" name="status" id="select-input-1" value="{% if init_status in range(0,11) %} {{init_status}} {% endif %}"> </input>
								<div class="select-answer" id="select-answer-1">
									{% if init_status in range(0,11) %}
										<span class="judge-{{init_status}}">
											<i class="icon-{{statusicon[init_status]}}"> </i>
											{{tostatus[init_status]}}
										</span>
									{% else %}
									<span style="color: #999; font-size: 15px;"> 不限 </span>
									{% endif %}
								</div>
								<div class="dropdown-1 select-dropdown" hidden>
									<div class="listline listline-animation select-listline" style="width: 216px;" onclick="Select_Changeto(1,-1)">
										&nbsp; &nbsp; 不限
									</div>
									{% for i in range(0,11) %}
									<div class="listline listline-animation select-listline" style="width: 216px;" onclick="Select_Changeto(1,{{i}})">
										<span class="judge-{{i}}">
											&nbsp; &nbsp; <i class="icon-{{statusicon[i]}}"> </i> &nbsp; {{tostatus[i]}}
										</span>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</span>
					<span class="listitem center">
						分数: <input class="input-tiny" type="text" name="min_score" value="{% if request.args.get('min_score') != None %}{{request.args.get('min_score')}}{% else %}0{% endif %}"> </input>
						~ <input class="input-tiny" type="text" name="max_score" value="{% if request.args.get('max_score') != None %}{{request.args.get('max_score')}}{% else %}100{% endif %}"> </input>
					</span>
					<button type="submit" class="button button-small button-primary button-rounded" style="font-size: 14px;"> 查询 </button>
				</div>
			</form>
			<div class="list">
				<div class="listline">
					<span class="listitem onewide center"> 编号 </span>
					<span class="listitem threewide center"> 题目 </span>
					<span class="listitem fourwide center"> 状态 </span>
					<span class="listitem twowide center"> 得分 </span>
					<span class="listitem onewide center"> 时间 </span>
					<span class="listitem onewide center"> 内存 </span>
					<span class="listitem center" style="width: 12%"> 提交者 </span>
					<span class="listitem center" style="width: 15%"> 提交时间 </span>
				</div>
				{% for status in statuslist %}
				<div class="listline listline-animation">
					<span class="listitem onewide center"> <a href="/record/{{status[0]}}"> #{{status[0]}} </a> </span>
					<span class="listitem threewide center"> <a href="/contest/{{status[12]}}/problem/{{status[1]}}"> #{{status[1]}}.{{Read_Problem(status[1])[1]}} </a> </span>
					<span class="listitem fourwide center">
						<a href="/record/{{status[0]}}" class="uncolored full">
							<span class="judge-{{status[4]}}" long_or_short="long">
								<i class="icon-{{statusicon[status[4]]}}" aria-hidden="true"></i>  {{tostatus[status[4]]}}
							</span>
						</a>
					</span>
					<span class="listitem twowide center" style="color:{{Score_Color(status[5])}};">
						<a href="/record/{{status[0]}}" class="uncolored full"> {{Toint(status[5])}} </a>
					</span>
					{% if tostatus[status[4]] not in ["Waiting","Compile Error","Unknown Error"] %}
					<span class="listitem onewide center smallfont"> <a href="/record/{{status[0]}}" class="uncolored full"> {{ status[8] }} ms </a> </span>
					<span class="listitem onewide center smallfont"> <a href="/record/{{status[0]}}" class="uncolored full"> {{ status[9] }} M </a> </span>
					{% else %}
					<span class="listitem onewide center smallfont"> <a href="/record/{{status[0]}}" class="uncolored full">  </a> </span>
					<span class="listitem onewide center smallfont"> <a href="/record/{{status[0]}}" class="uncolored full">  </a> </span>
					{% endif %}
					<span class="listitem center smallfont" style="width: 12%"> <a href="/user/{{status[11]}}"> {{ status[11] }} </a> </span>
					<span class="listitem center smallfont" style="width: 15%"> <a href="/user/{{status[11]}}" class="uncolored"> {{status[13]}} </a> </span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
