{% extends 'base.html' %}
{% block title %} 帮助 {% endblock %}
{% block selected_help %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="title">帮助</div>
	<div class="block">
		<div class="contitle">评测</div>
		<div class="content markdown">
本OJ搭建在Ubuntu 18.10(64位)上,为Linux环境.

编译命令:

C++: `g++ -O2 -DONLINE_JUDGE {src_file} -o {exec_file} -lm -w -fmax-errors=5`

C++11: `g++ -O2 -std=c++11 -DONLINE_JUDGE {src_file} -o {exec_file} -lm -w -fmax-errors=5`

请注意 `-w` 代表编译器将不输出任何警告信息, `-fmax-errors=5` 表示编译器最多输出 $5$ 条错误信息.

请使用标准输入输出
		</div>
	</div>
	<div class="block">
		<div class="contitle">评测状态</div>
		<div class="content markdown">
| 状态 | 全称 | 中文解释 |
| :-------: | :--------: | :--------: |
| AC | Accept | ok,你的程序通过了! |
| CE | Compile Error | 编译错误 |
| TLE | Time Limit Exceed | 时间超限 |
| MLE | Memory Limit Exceed | 内存超限 |
| WA | Wrong Answer | 答案错误 |
| RE | Runtime Error | 运行时错误 |
| PE | Presentation Error | 格式错误 |
| OLE | Output Limit Exceed | 输出超限 |
| UKE | Unknown Error | 未知错误...评测出锅了 |
		</div>
	</div>
	<div class="block">
		<div class="contitle">新人求助,XXX那题,本机AC,提交RE/TLE/WA/CE/...</div>
		<div class="content markdown">
评测机搭建在linux上,请使用`%lld`输出`long long`类型,使用`%llu`输出`unsigned long long`类型.

linux下对头文件检查较严格,请检查是否加入了`cstdio`或`stdio.h`头文件.

并检查数组是否越界. ~~原来CE只因为选错语言~~
		</div>
	</div>
	<div class="block">
		<div class="contitle">希望更丰富的展现?使用Markdown</div>
		<div class="content markdown">
		</div>
	</div>
	<div class="block">
		<div class="contitle">想打数学公式?使用$\LaTeX$</div>
		<div class="content markdown">
		</div>
	</div>
	<div class="block">
		<div class="contitle">关于这个OnlineJudge</div>
		<div class="content markdown">
请访问 [关于 - intOJ](/about)
		</div>
	</div>
	<div class="block">
		<div class="contitle">祝你玩得开心!</div>
	</div>
</div>
{% endblock %}

<!--
# 一级标题

## 二级标题

### 三级标题

- 青蛙

- 眼睛

- 知识水平

[Luogu](http://www.luogu.org/)

![Luogu](http://cdnv2.luogu.org/upload/pic/2269.png)

**我非常的粗！**

22333 `inline code` 2333

```cpp
#include <iostream>
using namespace std;
int main(){
	int a,b;
	cin >> a >> b;
	cout << a+b << endl;
	return 0;
}
```

$\Huge{ans=\Sigma_{1}^{n}{-\frac{b+\sqrt{\color{Red}{b^2-4ac}}}{2\cdot a}}}$
-->
