{% extends 'base.html' %}
{% block title %} 主页 {% endblock %}
{% block selected_home %} selected {% endblock %}
{% block body %}
<script>
function Find_User(){
	window.location.href = '/user/'+$("#find-user").val()
}
</script>
<div class="main">
	<div class="block-mini-box" style="margin: 0px; justify-content: space-between; width: 100%;">
		<div class="block-mini" style="width: 64%;">
			<div class="ui" style="padding: 13px 12px 13px 12px; border-radius: 3px;">
				<div class="block-mini-inner" style="margin-bottom: 0px;">
					<div class="contitle"> 公告 </div>
					{% if Read_User_Byname('root') != None %}
					<div class="content markdown"> {{Read_User_Byname('root')['signature']}} </div>
					{% endif %}
				</div>
			</div>
			<div class="ui" style="padding: 13px 12px; border-radius: 3px; margin-top: 12px;">
				<div class="block-mini-inner">
					<div class="contitle"> 排名 </div>
					<div class="content">
						<div class="list">
							<div class="listline" style="height: 30px;">
								<span class="listitem center smallfont" style="width: 30px"> # </span>
								<span class="listitem center smallfont" style="width: 120px"> 用户名 </span>
								<span class="listitem center smallfont" style="flex-grow: 2333;"> 个性签名 </span>
								<span class="listitem center smallfont" style="width: 70px"> 通过/提交 </span>
							</div>
							{% for user in users %}
							<div class="listline listline-animation">
								<span class="listitem center" style="width: 30px"> {{loop.index}} </span>
								<span class="listitem center" style="width: 120px"> <a href="/user/{{user['username']}}"> {{user['username']}} </a> </span>
								<span class="listitem center fixlength" style="width: calc( 100% - 30px - 70px - 120px ); overflow: hidden; max-height: 100%;"> <p class="markdown"> {{user['signature']}} </p> </span>
								<span class="listitem center smallfont" style="width: 70px"> {{user['total_ac']}}/{{user['total_submit']}}</span>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block-mini" style="width: 35%;">
			<div class="ui" style="padding: 15px 12px; border-radius: 3px;">
				<div class="block-mini-inner">
					<div class="contitle"> 用户查找 </div>
					<div class="content" style="display: flex; align-items: center; justify-content: space-around">
						<input class="input-mediumlong" type="text" id="find-user"> </input> <button class="button button-primary button-rounded button-small" style="flex-shrink: 0;" onclick="Find_User()"> 查找 </button>
					</div>
				</div>
				<div class="block-mini-inner" style="padding-bottom: 30px;">
					<div class="contitle"> 一言 </div>
					<div class="content">
						<div id="hitokoto" style="width: 85%; margin: auto">
						</div>
						<div id="hitokoto-from" style="font-size: 15px; float: right; color: #666; margin-right: 10px;">
						</div>
					</div>
				</div>
				<div class="block-mini-inner">
					<div class="contitle"> 近期比赛 </div>
					<div class="list">
						{% for contest in contests %}
						<a href="/contest/{{contest['id']}}" class="uncolored">
							<div class="listline listline-animation">
								<span class="listitem center smallfont" style="width: 400px"> {{contest['title']}} </span>
								<span class="listitem center smallfont" style="width: 400px"> {{contest['begin_time'].split()[0]}}<br />{{contest['begin_time'].split()[1]}} </span>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
				{% if Is_Loggedin() %}
				{% set username = request.cookies['username'] %}
				{% set user = Read_User_Byname(username) %}
				<div class="block-mini-inner">
					<div class="contitle"> <a href="/user/{{username}}" class="uncolored"> {{username}} </a> </div>
					<div class="content markdown">
						{{-user['signature']-}}
					</div>
				</div>
				{% endif %}
				<div class="block-mini-inner">
					<div class="contitle"> 小工具 </div>
					<div class="content">
						<a href='/zhongwuchishenme'> 中午吃什么 </a> <br />
						<a href='/blank'> 空白页 ( 用来看背景图 ) </a>
					</div>
				</div>
				<div class="block-mini-inner">
					<div class="contitle"> 访问量统计 </div>
					<a href="https://info.flagcounter.com/XRp4">
						<img src="https://s11.flagcounter.com/count2/XRp4/bg_eeeeee/txt_000000/border_eeeeee/columns_4/maxflags_12/viewers_3/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$.get({
	url: 'https://v1.hitokoto.cn/',
	success: function(data,status){
		console.log(data);
		$('#hitokoto').text(data.hitokoto)
		$('#hitokoto-from').text('—— ' + data.from)
	}
})
</script>
{% endblock %}
