{% extends 'base.html' %}
{% block title %} #{{problem['id']}}. {{problem['title']}} {% endblock %}
{% block selected_problem %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div style="display: flex; align-items: center; margin: 10px 40px 20px 140px;">
		<div class="title"> #{{problem['id']}}. {{problem['title']}} </div>
		<button class="button button-rounded button-primary button-small" style="float: right; width: 100px;" onclick="history.go(-1)"> 返回 </button>
	</div>
	<div class="block tagsblock" style="margin: 20px auto;">
		<div class="button-group">
			<a href="#submit_code" class="button button-primary button-rounded button-small"> 提交 </a>
			{% if Is_Loggedin() %}
			<a href="/status?problem_id={{problem['id']}}&username={{request.cookies['username']}}" class="button button-action button-rounded button-small"> 我的提交 </a>
			{% endif %}
			<a href="/status?problem_id={{problem['id']}}" class="button button-action button-rounded button-small"> 所有提交 </a>
			<a href="/problem/{{problem['id']}}/statistic" class="button button-highlight button-rounded button-small"> 统计信息 </a>
			<a href="/problem/{{problem['id']}}/ranklist" class="button button-royal button-rounded button-small"> 排行榜 </a>
		</div>
		<div style="float: right">
			<span class="content tag"> 时间限制: {{problem['time_limit']}} ms </span>
			<span class="content tag"> 空间限制: {{problem['memory_limit']}} M </span>
			{% if problem['is_public'] != 1 %}
				<span class="content tag tag-red"> 尚未公开 </span>
			{% endif %}
			{% if Current_User_Privilege('is_problem_manager') %}
				<span>
					<a href="{{problem['id']}}/edit"><button class="button button-primary button-square button-small button-rounded">
						<i class="icon-pencil"></i>
					</button></a>
					<button class="button button-caution button-square button-small button-rounded" onclick="Delete_Problem()">
						<i class="icon-trash"></i>
					</button>
					<script>
						function Delete_Problem(){
							var want_del = confirm("确认删除这道题目?\n请不要删除比赛中的题目!")
							if(want_del) window.location.href = '{{problem['id']}}/delete'
						}
					</script>
				</span>
			{% endif %}
		</div>
	</div>
	{% if problem['description'] != '' %}
	<div class="block" style="margin-top: 10px;">
		<div class="contitle"> 题目描述 </div>
		<div class="content markdown">
			{{- problem['description'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['input_format'] != '' %}
	<div class="block">
		<div class="contitle"> 输入格式 </div>
		<div class="content markdown">
			{{- problem['input_format'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['output_format'] != '' %}
	<div class="block">
		<div class="contitle"> 输出格式 </div>
		<div class="content markdown">
			{{- problem['output_format'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['example'] != '' %}
	<div class="block">
		<div class="contitle"> 样例 </div>
		<div class="content markdown">
			{{- problem['example'] -}}
		</div>
	</div>
	{% endif %}
	{% if problem['limit_and_hint'] != '' %}
	<div class="block">
		<div class="contitle"> 提示与说明 </div>
		<div class="content markdown">
			{{- problem['limit_and_hint'] -}}
		</div>
	</div>
	{% endif %}
	<div class="block" id="submit_code">
		<div class="contitle"> 提交代码 </div>
		<div class="content">
			<form method="POST">
				<div style="display: flex;">
					<div style="width: 20%; height: 300px; overflow: hidden auto; background-color: #e6e6e6;" class="list">
						{% set lastlang = Default(request.cookies.get('lastlang'),'cpp11') %}
						<input type="hidden" name="lang" id="select-input-1" value="{{lastlang}}"> </input>
						{% for lang in enable_lang %}
							{% set is_active = 'listline-active' if lang['name'] == lastlang else '' %}
							<div class="listline listline-animation select-1-item select-1-item-{{lang['name']}} {{is_active}}" style="flex-direction: row; height: 50px;" onclick="Select_Changeto_Showactive(1,'{{lang['name']}}')">
								<div style="font-size: 18px; padding-left: 20px; font-weight: 100;"> {{lang['display_name']}} </div> <br />
								<div style="font-size: 12px; padding-left: 10px; font-weight: 100; color: #999"> {{lang['compiler']}} </div>
							</div>
						{% endfor %}
					</div>
					<div style="width: 80%; height: 300px;">
						<textarea class="codeinput" name="code"></textarea>
					</div>
				</div>
				<button type="submit" class="button button-action button-rounded submitbutton">
					<i class="icon-pencil icon-spin"></i> 提交!
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
