{% extends 'base.html' %}
{% block title %} 排行榜 - {{problem['title']}} {% endblock %}
{% block selected_problem %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle"> 排行榜 - #{{problem['id']}}. {{problem['title']}} <button class="button button-rounded button-primary button-small" style="float: right;" onclick="history.go(-1)"> 返回 </button> </div>
	</div>
	<div class="block">
		<div class="list">
			<div class="listline">
				<span class="listitem onewide center"> 编号 </span>
				<span class="listitem threewide center"> 题目 </span>
				<span class="listitem fourwide center"> 状态 </span>
				<span class="listitem twowide center"> 得分 </span>
				<span class="listitem onewide center"> 时间 </span>
				<span class="listitem onewide center"> 内存 </span>
				<span class="listitem center" style="width: 12%"> 提交者 </span>
				<span class="listitem center" style="width: 15%"> 提交时间 </span>
			</div>
			{% for submission in submissions %}
			<div class="listline listline-animation">
				<span class="listitem onewide center"> <a href="/record/{{submission['id']}}"> #{{submission['id']}} </a> </span>
				<span class="listitem threewide center"> <a href="/problem/{{submission['problem_id']}}"> #{{submission['problem_id']}}. {{problem['title']}} </a> </span>
				<span class="listitem fourwide center">
					<a href="/record/{{submission['id']}}" class="uncolored full">
						<span class="judge-{{submission['status']}}" long_or_short="long">
							<i class="icon-{{statusicon[submission['status']]}}" aria-hidden="true"></i>  {{tostatus[submission['status']]}}
						</span>
					</a>
				</span>
				<span class="listitem twowide center" style="color:{{Score_Color(submission['score'])}}"> <a href="/record/{{submission['id']}}" class="uncolored full"> {{Toint(submission['score'])}} </a> </span>
				{% if tostatus[submission['status']] not in ["Waiting","Compile Error","Unknown Error"] %}
				<span class="listitem onewide center smallfont"> <a href="/record/{{submission['id']}}" class="uncolored full"> {{submission['time_usage']}} ms </a> </span>
				<span class="listitem onewide center smallfont"> <a href="/record/{{submission['id']}}" class="uncolored full"> {{submission['memory_usage']}} M </a> </span>
				{% else %}
				<span class="listitem onewide center smallfont"> <a href="/record/{{submission['id']}}" class="uncolored full">  </a> </span>
				<span class="listitem onewide center smallfont"> <a href="/record/{{submission['id']}}" class="uncolored full">  </a> </span>
				{% endif %}
				<span class="listitem center smallfont" style="width: 12%"> <a href="/user/{{submission['username']}}"> {{submission['username']}} </a> </span>
				<span class="listitem center smallfont" style="width: 15%"> <a href="/user/{{submission['username']}}" class="uncolored"> {{submission['submit_time']}} </a> </span>
			</div>
			{% endfor %}
		</div>
	</div>
	<div style="display: flex; justify-content: center;">
		{% set args = Argstring() %}
		{{ Pager(args,current_page,total_page)}}
	</div>
</div>
{% endblock %}
