{% extends 'base.html' %}
{% block title %} 题目列表 {% endblock %}
{% block selected_problem %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle">
			题目列表
			<a href="/problemadd"><button class="button button-primary button-small button-rounded" style="float:right; margin-top:3px; font-size: 14px;">
				<i class="icon-plus"></i> 添加题目
			</button></a>
		</div>
	</div>
	<div class="block">
		<div class="content">
			<div class="list">
				<div class="listline">
					<span class="listitem twowide center"> 编号 </span>
					<span class="listitem fivewide"> 题目名称 </span>
				</div>
				{% set can_view_hidden = Current_User_Privilege(2) %}
				{% for problem in problemlist if problem[9] or can_view_hidden %}
				<a href="/problem/{{problem[0]}}">
					<div class="listline listline-animation">
					<span class="listitem twowide center" style="color: initial"> #{{problem[0]}} </span>
					<span class="listitem fivewide">
						{{problem[1]}}
						{% if problem[9] != 1 %}
							<span style="font-size: 12px; color: #000" class="tag"> 未公开 </span>
						{% endif %}
					</span>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
