{% extends 'base.html' %}
{% block title %} 题目列表 {% endblock %}
{% block selected_problem %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle">
			题目列表
			<a href="/problemadd"><button class="button button-primary button-small button-rounded" style="float:right; margin-top:3px; font-size: 14px;">
				<i class="icon-plus"></i> 添加题目
			</button></a>
		</div>
	</div>
	<div class="block">
		<div class="content">
			<div class="list">
				<div class="listline">
					<span class="listitem twowide center"> 编号 </span>
					<span class="listitem fivewide"> 题目名称 </span>
				</div>
				{% for uproblem in problemlist %}
				<div class="listline listline-animation" onclick="window.location.href='/problem/{{uproblem[0]}}'">
					<span class="listitem twowide center"> #{{uproblem[0]}} </span>
					<span class="listitem fivewide"> <a href="/problem/{{uproblem[0]}}"> {{uproblem[1]}} </a> </span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
