{% extends 'base.html' %}
{% block title %} 题目列表 - intOJ {% endblock %}
{% block selected_problem %} selected {% endblock %}
{% block body %}
<div class="container">
	<div class="ui main">
		<div class="block">
			<div class="contitle">
				题目列表
				<a href="problemadd"><button class="button button-primary button-small" style="float:right; margin-top:3px">
					<i class="icon-plus"></i>添加题目
				</button></a>
			</div>
		</div>
		<div class="block">
			<div class="content">
				<table class="list">
					<tr class="list">
						<th class="onecolumn list"> 编号 </th>
						<th class="list"> 题目名称 </th>
					</tr>
					{% for uproblem in problemlist %}
					<tr class="list">
						<td class="list"> {{uproblem[0] }} </td>
						<td class="list"> <a href="/problem/{{uproblem[0]}}"> {{ uproblem[1] }} </a> </td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
