{% extends 'base.html' %}
{% block title %} P{{uproblem[0]}}. {{uproblem[1]}} {% endblock %}
{% block selected_problem %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="title"> P{{uproblem[0]}}. {{uproblem[1]}}</div>
	<div class="block tagsblock">
		<span class="content tag tag-timelimit">时间限制:{{- uproblem[7] -}}ms</span>
		<span class="content tag tag-memorylimit">空间限制:{{- uproblem[8] -}}M</span>
		<span style="float:right">
			<a href="{{uproblem[0]}}/edit"><button class="button button-primary button-square button-small button-rounded">
				<i class="icon-pencil"></i>
			</button></a>
			<a href="{{uproblem[0]}}/delete"><button class="button button-caution button-square button-small button-rounded">
				<i class="icon-trash"></i>
			</button></a>
		</span>
	</div>
	{% if uproblem[2] != '' %}
	<div class="block" style="margin-top: 10px;">
		<div class="contitle"> 题目描述 </div>
		<div class="content markdown">
			{{- uproblem[2] -}}
		</div>
	</div>
	{% endif %}
	{% if uproblem[3] != '' %}
	<div class="block">
		<div class="contitle"> 输入格式 </div>
		<div class="content markdown">
			{{- uproblem[3] -}}
		</div>
	</div>
	{% endif %}
	{% if uproblem[4] != '' %}
	<div class="block">
		<div class="contitle"> 输出格式 </div>
		<div class="content markdown">
			{{- uproblem[4] -}}
		</div>
	</div>
	{% endif %}
	{% if uproblem[5] != '' %}
	<div class="block">
		<div class="contitle"> 样例 </div>
		<div class="content markdown">
			{{- uproblem[5] -}}
		</div>
	</div>
	{% endif %}
	{% if uproblem[6] != '' %}
	<div class="block">
		<div class="contitle"> 提示与说明 </div>
		<div class="content markdown">
			{{- uproblem[6] -}}
		</div>
	</div>
	{% endif %}
	<div class="block">
		<div class="contitle"> 提交代码 </div>
		<div class="content">
			<form method="POST">
				<textarea class="codeinput" name="code"></textarea>
				<button type="submit" class="button button-action button-rounded submitbutton">
					<i class="icon-pencil icon-spin"></i> 提交!
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
