{% extends 'base.html' %}
{% block title %} 统计 - {{problem['title']}} {% endblock %}
{% block selected_problem %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle"> 统计 - #{{problem['id']}}. {{problem['title']}} <button class="button button-rounded button-primary button-small" style="font-size: 15px; float: right;" onclick="history.go(-1)"> 返回 </button> </div>
	</div>
	<div class="block">
		<div class="contitle"> 得分统计 </div>
		{% include "problem_statistic_modules/score_total.html" %}
	</div>
	<div class="block">
		<div class="contitle">
			状态分布
			<div class="button-group" style="float: right">
				{% if Is_Loggedin() %}
				<a href="/status?problem_id={{problem['id']}}&username={{Current_User()}}" class="button button-small button-rounded button-primary"> 我的提交 </a>
				{% endif %}
				<a href="/status?problem_id={{problem['id']}}" class="button button-small button-rounded button-primary"> 所有提交 </a>
			</div>
		</div>
		{% include "problem_statistic_modules/status.html" %}
	</div>
</div>
{% endblock %}
