{% for subtask in subtasks %}
{% set subtask_id = subtask['id'] %}
<div id="subtask_{{subtask_id}}">
<div class="listline listline-animation unselect" onclick="Click({{subtask_id}});">
	<span class="listitem onewide center"> #{{subtask['id']}} </span>
	<span class="listitem sixwide center" id="subtask_{{subtask_id}}_judge_status">
		<span class="judge-{{subtask['status']}}" long_or_short="long">
			<i class="icon-{{statusicon[subtask['status']]}}" aria-hidden="true"></i>  {{tostatus[subtask['status']]}}
		</span>
	</span>
	<span class="listitem twowide center" id="subtask_{{subtask_id}}_score">
		<span style="color:{{Score_Color(subtask['score'],subtask['full_score'])}};">
			{{Toint(subtask['score'])}}<span style="font-size: 10px" class="dropdown-{{loop.index}}" show_or_hide="hide" hidden="hidden">/{{Toint(subtask['full_score'])}}</span>
		</span>
	</span>
	<span class="listitem twowide center" id="subtask_{{subtask_id}}_time_usage"> {{subtask['time_usage']}} ms </span>
	<span class="listitem twowide center" id="subtask_{{subtask_id}}_memory_usage"> {{subtask['memory_usage']}} M </span>
</div>
{% if not record['contest_id'] or Current_User_Privilege('is_contest_manager') %}
<div class="dropdown dropdown-{{subtask_id}}" hidden="hidden">
	<div class="markdown">
{% if subtask['checker_message'] != "" %}
### 比较器信息

```plain
{{ subtask['checker_message'] }}
```
{% endif %}
{% if subtask['judger_message'] != "" %}
### 评测器信息

```plain
{{ subtask['judger_message'] }}
```
{% endif %}
	</div>
</div>
{% endif %}
</div>
{% endfor %}
