{% extends 'base.html' %}
{% block title %} 评测状态 {% endblock %}
{% block selected_status %} selected {% endblock %}
{% block body %}
<div class="ui main">
	<div class="block">
		<div class="contitle"> 实时评测记录 </div>
		<div class="content">
			<div class="list">
				<div class="listline">
					<span class="listitem onewide center"> 编号 </span>
					<span class="listitem onewide center"> 题目 </span>
					<span class="listitem fivewide center"> 状态 </span>
					<span class="listitem twowide center"> 得分 </span>
					<span class="listitem twowide center"> 时间 </span>
					<span class="listitem twowide center"> 内存 </span>
					<span class="listitem threewide center"> 提交者 </span>
				</div>
				{% for status in statuslist if not status[12]%}
				<div class="listline listline-animation">
					<span class="listitem onewide center"> <a href="/record/{{status[0]}}"> R{{status[0]}} </a> </span>
					<span class="listitem onewide center"> <a href="/problem/{{status[1]}}"> P{{status[1]}} </a> </span>
					<span class="listitem fivewide center">
						<a href="/record/{{status[0]}}" class="uncolored full">
							<span class="judge-{{status[4]}}" long_or_short="long">
								<i class="icon-{{statusicon[status[4]]}}" aria-hidden="true"></i>  {{tostatus[status[4]]}}
							</span>
						</a>
					</span>
					<span class="listitem twowide center" style="color:{{Score_Color(status[5])}}"> <a href="/record/{{status[0]}}" class="uncolored full"> {{Toint(status[5])}} </a> </span>
					{% if tostatus[status[4]] not in ["Waiting","Compile Error","Unknown Error"] %}
					<span class="listitem twowide center"> <a href="/record/{{status[0]}}" class="uncolored full"> {{status[8]}}ms </a> </span>
					<span class="listitem twowide center"> <a href="/record/{{status[0]}}" class="uncolored full"> {{status[9]}}M </a> </span>
					{% else %}
					<span class="listitem twowide center"> <a href="/record/{{status[0]}}" class="uncolored full">  </a> </span>
					<span class="listitem twowide center"> <a href="/record/{{status[0]}}" class="uncolored full">  </a> </span>
					{% endif %}
					<span class="listitem threewide center"> <a href="/user/{{status[11]}}"> {{status[11]}} </a> </span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
