/**************** input ****************/
textarea.codeinput{
	width: 100%;
	height: 300px;
	opacity: 0.8;
}
textarea.markdowninput{
	width: 100%;
	height: 200px;
	border: 0px;
	font-size: 19px;
}

input{
	outline: none;
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 4px 8px 4px 8px;
	height: 22px;
	background-color: #fafafa;
}
input:focus{
	border-color: #66ccff;
}
input.wideinput{
	height: 25px;
	font-size: 17px;
}
input.input-tiny{ width: 30px; }
input.input-short{ width: 50px; }
input.input-medium{ width: 120px; }
input.input-mediumlong{ width: 200px; }
input.input-long{ width: 250px; }
input.input-fullwide{ width: calc( 98% - 8px ); margin: auto; }

button.submitbutton{
	width: 200px;
	font-size: 19px;
	margin-left: calc(50% - 100px);
	margin-top: 10px;
	font-weight: 500;
	letter-spacing: 1px;
}
button.button{
	border-color: #ffffff00;
	border-style: dashed;
	border-width: 1px;
}
button.button.button-border{
	border-color: inherit !important;
	border-style: solid;
	border-width: 1px;
}
button.button:hover{
	background-color: #ffffff00;
	border-style: dashed;
	border-width: 1px;
}
button.button-primary:hover{
	color: #4cb0f9;
	border-color: #4cb0f9 !important;
}
button.button-action:hover{
	color: #a5de37;
	border-color: #a5de37 !important;
}
button.button-highlight:hover{
	color: #fec04e;
	border-color: #fec04e !important;
}
button.button-caution:hover{
	color: #ff7680;
	border-color: #ff7680 !important;
}
button.button-nobg{
	background-color: #ffffff00 !important;
	border-width: 0px !important;
}
button.button-nobg:hover{
	border-width: 0px !important;
}
button.button-nobg:focus,button.button-nobg:active{
	color: inherit;
	border-width: 0px !important;
	box-shadow: none;
	-webkit-box-shadow: none;
}
input.login-input{
	width: 90%;
	border-width: 0px;
	background-color: #ffffff00;
}
div.login-input{
	width: 85%;
	margin: 10px auto;
	display: flex;
	border-width: 1px;
	border-color: #bbbbbb;
	border-style: solid;
	border-radius: 4px;
	padding: 6px 12px;
}

button.button-small{
	font-size: 15px;
}
