div.list{}
div.listline{
	display: flex;
	align-items: center;
	height: 40px;
	transition: all 0.15s;
}
div.listline-padding{
	padding: 0px 10px;
}
div.listline-current{
	background-color: #dddddd;
}
div.listline-hover-animation:hover,div.listline-animation:hover{
	background-color: #dadada;
}
div.listline-active-animation:active,div.listline-animation:active{
	background-color: #bbb;
	transform: scale(1.02,1.02);
}
div.listline-active{
	background-color: #ccc;
}
div.listline-active-animation,div.listline-hover-animation,div.listline-animation{
	cursor: pointer;
}
span.listitem, .overflow-ellipsis{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.listitem.halfwide{ width: 4%; }
span.listitem.onewide{ width: 8%; }
span.listitem.twowide{ width: 13%; }
span.listitem.threewide{ width: 20%; }
span.listitem.fourwide{ width: 25%; }
span.listitem.fivewide{ width: 30%; }
span.listitem.sixwide{ width: 35%; }
span.listitem.center{ text-align: center; }
span.listitem.fixlength{ flex-shrink: 0; flex-grow: 0; }
.smallfont{ font-size: 14px !important; /*font-weight: bold;*/ }
div.smallfont{ line-height: 20px !important; }

table{
	border-collapse: collapse;
	border-spacing: 0;
}
td, th{
	border: 1px solid black;
	padding: 2px 10px 1px 10px;
}
th{
	background-color: #ddd;
}
