div.list{}
div.listline{
	display: flex;
	align-items: center;
	height: 40px;
	transition: all 0.15s;
}
div.listline-hover-animation:hover,div.listline-animation:hover{
	background-color: #dadada;
}
div.listline-active-animation:active,div.listline-animation:active{
	background-color: #bbb;
	transform: scale(1.02,1.02);
}
div.listline-active-animation,div.listline-animation{
	cursor: pointer;
}
span.listitem{  }
span.listitem.onewide{ width: 8%; }
span.listitem.twowide{ width: 13%; }
span.listitem.threewide{ width: 20%; }
span.listitem.fourwide{ width: 25%; }
span.listitem.fivewide{ width: 30%; }
span.listitem.center{ text-align: center; }
span.smallfont{ font-size: 14px; /*font-weight: bold;*/ }
