button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:none;
}
header, button, input, menu, form, h1, h2, h3, h4, h5, body{
	font-family: Lato, -apple-system, 'PingFang SC', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Microsoft Yahei', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
}
header, button, input, menu, form, body, textarea{
	font-size: 16.5px;
}
code span, code, textarea, div.CodeMirror-code span{
	font-family: "Consolas","source-code-pro",monospace !important;
	font-size: 17px;
}

@keyframes Fade-in{
    0%{ opacity:0; }
    100%{ opacity:1; }
}
h3{
	margin: 10px auto;
}
pre{
	margin: 10px auto;
}
p{
	margin: 0px auto;
}

a{
	color: #4183c4;
	text-decoration: none;
	transition: all 0.2s;
}
a.uncolored{ color: inherit !important; }
a:hover{ color: #FF0000; }
a:focus{ outline:0; }
a.full{ width: 100%; display: block; }
p code{
	margin: auto 2px;
	background-color: #00000014;
	border-radius: 6px;
	padding: 1px 6px;
}

/**************** judge-state ****************/
.judge-0{ color: #888888; }		/* Waiting */
.judge-1{ color: #66ccff; }		/* Running */
.judge-2{ color: #aaaaaa; }		/* Unknown Error */
.judge-3{ color: #233333; }		/* Compile Error */
.judge-4{ color: #ff4499; }		/* Hacked */
.judge-5{ color: red; }			/* Wrong Answer */
.judge-6{ color: orange; }		/* Time Limit Exceed */
.judge-7{ color: orange; }		/* Memory Limit Exceed */
.judge-8{ color: purple; }		/* Runtime Error */
.judge-9{ color: #66ccff; }	/* Partical Accepted */
.judge-10{ color: #00cc00; }	/* Accepted */
